obsolete/
other/
/development/*
regex_example.js
js/lib/KAS/
Algebrite_files/
js/lib/Algebrite/
js/lib/ToDo.pdf
node_modules/
Doxyfile
doc(doxygen)
version*.txt
/md/Paul.md
make-zip/
html_version/
h5p/development/H5P.JoubelUI-1.3/
main/src/js/config.json
h5p/development/H5P.FormulaApplet-2.10/library.json
h5p/development/H5PEditor.FormulaAppletEditor-0.11/library.json
nextpatchnumber.txt
patch-*.txt
