obsolete/
other/
/development/*
regex_example.js
js/lib/KAS/
Algebrite_files/
js/lib/Algebrite/
js/lib/ToDo.pdf
node_modules/
Doxyfile
doc(doxygen)
version.txt
/md/Paul.md
make-zip/
html_version/
h5p/development/H5P.JoubelUI-1.3/
rollup_bak
h5p.org_comment_45324
circular_dependencies.txt
h5p/column_pics/col_1620491899635WelcheBlume_200x267.jpg
h5p/column_pics/col_filterschlüssel_20190322_113153_200x338.jpg
h5p/column_pics/col_geduldspiel_20191214_120539.r_200x207.jpg
h5p/column_pics/col_wuerfel-taeuschung.gif
main/package - Kopie.json
h5p/Dockerfile.no_success
h5p/Dockerfile.bak
h5p/docker-compose.yml.no_success
h5p/Dockerfile.error500
h5p/Dockerfile.sucks
main/patchmore.sh.bak
main/test_lineendings.txt.ori
main/test_lineendings.txt
main/nextpatchnumber.txt
main/how_to_delete_file_named_nul.txt
h5p/development/H5P.Blanks-1.12/
h5p/development/H5P.Question-1.4/
h5p/development/H5P.FormulaApplet-0.13/scripts/bundle.js
h5p/development/H5P.FormulaApplet-0.13/scripts/bundle.js.map
h5p/development/H5PEditor.FormulaAppletEditor-0.13/scripts/bundle.js
h5p/development/H5PEditor.FormulaAppletEditor-0.13/scripts/bundle.js.map
TODO-20220618.jpg
TODO-20220619.jpg
make-h5p/temp.h5p
