div#virtualKeyboard {
	width: fit-content;
	/* top: auto; */
	/* bottom: 1vh; */
	/* https://www.w3schools.com/cssref/pr_pos_bottom.asp */
	/* bottom: 5px; */
	left: 50%;
	max-width: 100vw;
	min-width: 40vw;
	/* background-color: #c0c0c050; transparency #50 */
	background-color: #b2cee7;
	border-radius: 3px;
	z-index: 1000;
	cursor: move;
}

div#virtualKeyboard.h5pEditor {
	position: inherit;
	transform: none;
	width: auto;
	cursor: pointer;
}

/* no editor mode */
div#virtualKeyboard.h5p {
	/* for visualViewport handling */
	/* https://developer.mozilla.org/en-US/docs/Web/API/VisualViewport */
	position: fixed;
	bottom: 0px;
	transform-origin: bottom;
	transform: translate(-50%, 0) scale(1);
	/* background-color: red; */
	/* transform: translate(0px, 0px) scale(1); */
}



#virtualKeyboard table {
	display: none;
	/* width: calc(100% +120px); */
	width: 100%
}

#virtualKeyboard table#table_mixed {
	display: table;
}

.virtualKeyboardButton {
	background-color: #8bd;
	/* width: 60px; */
	width: 6vw;
	/* min-width: 50px; */
	min-width: 4vw;
	height: 50px;
	margin: 10px;
	padding: 3px 7px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: 20pt; */
	font-size: 3vw;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	border: 1px solid peru;
	border-radius: 3px;
	cursor: pointer;
}

.virtualKeyboardButton:hover {
	color: blue;
	background-color: white;
}

.virtualKeyboardButton.smallgap {
	width: 10px;
	/* background-color: transparent; */
	background-color: #b2cee7;
	border: 0px;
	min-width: 1vw;
	cursor: move;
}

div#virtualKeyboard.h5pEditor .virtualKeyboardButton.smallgap {
	cursor: pointer;
}

.virtualKeyboard-shift {
	color: navy;
}

.virtualKeyboard-backspace {
	background-color: rgb(236, 114, 69);
}

.virtualKeyboard-backspace:hover {
	color: black;
	background-color: orange;
}

.virtualKeyboardButton.virtualKeyboard-version {
	font-size: 150%;
}

.virtualKeyboardButton.virtualKeyboard-version:hover {
	color: inherit;
	background-color: #8bd;
}

.virtualKeyboardButton.virtualKeyboard-right span {
	font-size: 130%;
}

.virtualKeyboardButton.virtualKeyboard-left span {
	font-size: 130%;
}

.virtualKeyboardButton.virtualKeyboard-enter span {
	font-size: 150%;
	color: green;
}

.virtualKeyboardButton.virtualKeyboard-setunsetUnit span{
	font-size: 50%;
	color: green;
	/* line-height: 140%; */
	vertical-align: middle;
}

.virtualKeyboardButton.virtualKeyboard-setinput span{
	font-size: 50%;
	color: green;
	/* line-height: 140%; */
	vertical-align: middle;
}

.virtualKeyboardButton.virtualKeyboard-sin span {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-cos span {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-tan span {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-arcsin span {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-arccos span {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-arctan span {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-power_of_ten sup {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-square sup {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-subscript sub {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-log_base sub {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-exp sup {
	font-size: 85%;
}

.virtualKeyboardButton.virtualKeyboard-abs span {
	font-size: 85%;
}

/* hide some buttons if not edit mode */
div#virtualKeyboard.h5p .virtualKeyboardButton.virtualKeyboard-integral {
	display: none;
}

div#virtualKeyboard.h5p .virtualKeyboardButton.virtualKeyboard-limit {
	display: none;
}

div#virtualKeyboard.h5p .virtualKeyboardButton.virtualKeyboard-abs_f {
	display: none;
}

div#virtualKeyboard.h5p .virtualKeyboardButton.virtualKeyboard-space {
	display: none;
}

div#output tbody {
	margin: 15px;
}

#table_abc .virtualKeyboard-row1 .virtualKeyboardButton {
	position: relative;
	left: 20px;
}

#table_abc .virtualKeyboard-row2 .virtualKeyboardButton {
	position: relative;
	left: 40px;
}

#table_abc_caps .virtualKeyboard-row1 .virtualKeyboardButton {
	position: relative;
	left: 20px;
}

#table_abc_caps .virtualKeyboard-row2 .virtualKeyboardButton {
	position: relative;
	left: 40px;
}

#table_greek .virtualKeyboard-row1 .virtualKeyboardButton {
	position: relative;
	left: 20px;
}

#table_greek .virtualKeyboard-row2 .virtualKeyboardButton {
	position: relative;
	left: 40px;
}

#table_greek_caps .virtualKeyboard-row1 .virtualKeyboardButton {
	position: relative;
	left: 20px;
}

#table_greek_caps .virtualKeyboard-row2 .virtualKeyboardButton {
	position: relative;
	left: 40px;
}

/* #virtualKeyboard table#table_abc{
	padding-right: 20px;
} */

div#virtualKeyboard.h5pEditor#virtualKeyboard_header {
	cursor: pointer;
}

#virtualKeyboard_header {
	height: 20px;
	background-color: darkolivegreen;
	cursor: move;
	z-index: 10;
	padding: 10px;
	display: none;
}

/* Style the tab */
.virtualKeyboard_tab {
	overflow: hidden;
	border: none;
	background-color: transparent;
}

/* Style the buttons inside the tab */
.virtualKeyboard_tab button {
	background-color: #d0d0d0;
	float: left;
	left: 20px;
	border: 1px solid #c0c040;
	outline: none;
	cursor: pointer;
	padding: 6px 16px;
	transition: 0.3s;
	font-size: 20px;
	/* font-size: 3vw; */
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* Change background color of buttons on hover */
.virtualKeyboard_tab button:hover {
	/* background-color: #80f080; */
	color: rgb(255, 111, 0);
	/* font-size: 120%; */
}

button#button-table_info_old:hover {
	color: black;
}

button#button-table_info_old {
	float: right;
	background-color: transparent;
	border: none;
	cursor: none;
	/* padding-right: 16px; */
	padding-top: 14px;
	transition: 0.3s;
	font-size: 14px;
	/* border-top-left-radius: 0px;
	border-top-right-radius: 0px; */

	/* margin-right: 5px; */
}

button#button-table_off {
	float: right;
	font-size: 20px;
	color: orangered;
	background-color: transparent;
	border: none;
	/* margin-right: 5px; */
}

.tablinks.selected {
	background-color: rgb(138, 137, 182);
	color: rgb(240, 240, 255);
	border-color: blue;
	border-width: 2px;
	border-bottom: transparent;
}

/* Create an active/current tablink class */
/* .virtualKeyboard_tab button.active {
	background-color:  darkkhaki;
	color: red;
} */

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

/* #sup_root {
	position: relative;
	top: -0.5em;
	right: -0.5em;
} */

/* for visualVieport handling */
/* https://developer.mozilla.org/en-US/docs/Web/API/VisualViewport */
#layoutViewport {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#virtualKeyboard {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: red;
	transform-origin: left bottom;
	transform: translate(0px, 0px) scale(1);
}